@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Jura", sans-serif;

}



.dark .conteiner {
    color: black;
}

body {
    background-color: black;
    transition: 0.3s;
    color: white;
    padding: 10px 60px 10px 60px;
}



nav {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5px;
    max-height: 50px;
    text-align: center;

    

}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    padding-bottom: 0;
}

.ult {
    margin-right: 25px;
    padding-bottom: 0;
    

}

input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
    color: white;

}

.bi-moon {
    display: none;

}

.dark,
.dark header {
    background-color: white;
    color: white;
}

.dark .bi-sun {
    display: none;
    color: black;
}

.dark .bi-moon {
    display: block;
    color: black
}

 .dark .navd {
    color: black;
    background-color: white;
  
 }

.dark .ult {
    color: black;
}

header,
.dark header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5px 0px 15px;


}

.bi::before {
    padding: 10px;
}

img {
    max-width: 200px;
    max-height: 400px;
    position: absolute;
}

.fotopreta {
    display: none;
    display: block;
   
}

.dark .fotopreta {
    display: none;
    display: block;

}

.dark .fotobranca {
    display: none;


}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 225px;

}

main {
    padding-top: 60px;
    overflow: hidden;

}

.dark .body {
    margin: 0px 30px 0px 30px;
}

.elemento2 {
    padding-right: 300px;
}

.elemento1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.rol {
    background-color: grey;
    color: white;
    position: relative;
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 23px;


}

.not {
    position: absolute;   
    top: 30px;  
    left: 3rem; 
    padding-top: 5px;
    border-radius: 50%;     
    
}

.textoimg {
    position: absolute;
    font-size: 16px;
    top: 225px;
    left: 1rem;;
 
}


.titulo {
    background-color: rgb(131, 84, 175);
    color: aliceblue;
    position: absolute;
    font-size: 26px;
    left: 5rem;
     }

.redes {
    background-color: rgba(62, 108, 108, 0.768);
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 23px;
    


}

.redes a {
    padding: 10px;
    color: white;
    text-decoration: none;

}

.botaoredes {
    border: none;
    font-size: 16px;
    background-color: #080c18;
    color: aliceblue;
    padding: 8px 16px;
    cursor: pointer;
    margin: 14px;
    border-radius: 6px;
    transition: all 0.3s ease;

}
.botaoredes:hover {
    background-color: #061644;

}


footer {
    margin: 10px 0px 10px 0px;
    text-align: center;
    padding-bottom: 60px;
}


/* ABAIXO CSS DO MENU SLIDE */ 

.card {
    border-radius: 25px 25px 0 25px;
    background-color: red;
    width: 320px; 
    /* VER A QUESTÃO DESSE WIDHT COM E SEM JS*/

}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border: 50%;



}
/* abaixo borda ao redo da foto de perfil"*/
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
    padding: 5px;
    

}

.slide.content {
    margin: 0 40px;
    background-color: #080c18;
    

}

.image-content {
    row-gap: 5px;
    position: relative;
    border-radius: 25px 25px 0 25px;
    padding-top: 7px;
    
}

.image-content,
.card-content {
    position: relative;
    background-color: #080c18; 
    display: flex;
    flex-direction: column;
    align-items: center;

   
    
    /* verificar sobreposição do (.card) se necessário ou a sobreposição desse*/
    /*  essa parte é onde fica os card de informações, ver border-radius separado */ 
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    margin-top: 20px;
    border-radius: 25px 25px 0 25px;
    width: 92%;
    height: 200px;
    justify-content: space-between;
    
/* esse acima é onde fica as informacoes, nome, descriçãoe  ver mais */ 
}
 /* abaixo é a div que fica por traz do "slides" que apresentam os projetos*/
.slide-conteiner {
    background-color: rgb(128, 128, 128);
    padding: 30px;
    max-width: 1120px;
    width: 80%;
    min-width: 110px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 23px;


}

.nome {
    font-size: 18px;
    font-weight: 500;
}

.descricao {
    text-align: center;
    font-size: 14px;
}

.botao {
    border: none;
    font-size: 16px;
    background-color: #4070f4;
    color: aliceblue;
    padding: 8px 16px;
    cursor: pointer;
    margin: 14px;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.botao:hover {
    background-color: #2b4ba3;
}

.overlay {
    background-color: rgba(62, 108, 108, 0.768);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 24px 25px 0 25px;

}
/* aqui acaba a sessão dos slides*/

/* esse botao é da opcao vVer mais dos PROJETOS*/
.botao a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 609px){
    /* topo do site */
    body {
        padding: 10px 15px 10px 15px;
    }
    .bloco{
        justify-content: center;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    .elemento1 {
        font-size: 10px;
        padding-bottom: 10px;

    }

    .elemento2 {
        padding-top: 16px;
        padding-left: 150px;
    }

    .fotopreta, .fotobranca {
        width: 170x;
        height: 170px;
      
        
    }


    /*cabecalho*/

    .menu{
        display: none;

    }

    .redes {
        margin-top: 190px;
        width: 100%;
        font-size: 12px;
        padding: 5px;
    }

    .rol {
        
        flex-direction: column;
        align-items: center;

    }}