@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}



.dark .conteiner {
    color: black;
}

/* FUNDO VERSÃO DARK */
body {
    background-color: #1E1E1E;
    transition: 0.3s;
    color: white;
    padding: 10px 60px 10px 60px;
}


.bloco .conteiner {
    display: flex;
    flex-direction: row;
    gap: 30px;

}


nav {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5px;
    max-height: 50px;
    text-align: center;
    gap: 40px;
    
    

}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    padding-bottom: 0;

}

.ult {
    margin-right: 25px;
    padding-bottom: 0;
    

}

input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
    color: white;

}

.bi-moon {
    display: none;

}

.dark,
.dark header {
    background-color: white;
    color: white;
}

.dark .bi-sun {
    display: none;
    color: black;
}

.dark .bi-moon {
    display: block;
    color: black
}

 .dark .navd {
    color: #2B3D4F;
    background-color: white;
  
 }


header,
.dark header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5px 0px 15px;


}

.dark h1, .dark .p1 {
    color: #2B3D4F;
    
}


.dark .botaoredes {
    background-color: #fff;
    border: 1px solid #F39C12;
   

}

.dark .redes a {
    color: #F39C12;
}


header nav.nav-mobile ul li {
    list-style-type: none;

}

.menu-mobile {
    background-color: #111010;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 0%;
    overflow: hidden;
    transition: .3s;

}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;

}
 /* PARTE DO MENU MOBILE */
.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 10px 20px 0px ;
    text-align: right;
    display: block;
    
}

.menu-mobile .nav-mobile ul li.linkmobile {
    padding: 20px;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: rgba(62, 108, 108, 0.768);
    color: #03050c;
}
 /* Esse nav-mobile foi pra ancora preencher todo espaço do menu*/
.nav-mobile {
    display: block;
 
}

.menu-mobile .btn-fechar i{
    color: rgba(62, 108, 108, 0.768);
    font-size: 30px;

}
.menu-mobile .btn-fechar {
    padding: 13px;
}

.btn-abrir-menu i{
    color: rgba(62, 108, 108, 0.768);
    font-size: 30px;
    padding-right: 10px;

}

.overlay-menu {
    background-color: #000000b9;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.btn-abrir-menu {
    display: none;
}



.bi::before {
    padding: 10px;
}

img {
    max-width: 330px;
    max-height: 330px;
    position: absolute;
}

.fotopreta {
    display: none;
    display: block;
   
}

.dark .fotopreta {
    display: none;
    display: block;

}

.dark .fotobranca {
    display: none;


}

.conteiner {
    display: flex;
    flex-direction: row;
    height: 225px;
    align-items: center;
    justify-content: center;


}

main {
    padding-top: 60px;
    overflow: hidden;
}

.dark .body {
    margin: 0px 30px 0px 30px;
}
/* ELEMENTO DOIS É FOTO EM DESENHO */
.elemento2 {
    width: 280px;
    height: 320px;
    align-items: center;
    margin-bottom: 20px;
  
}
 /* ELEMENTO 1 É ONDE ME APRESENTO "OLA´ME CHAMO...*/
.elemento1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #FFF;
    font-weight: 500;
}

.elemento1 h2 {
    color: #F39C12;
    font-family: Inter;
    font-size: 38.828px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.elemento1 p {
    font-size: large;
    font-weight: 400;

}

.elemento1 h1 {
    font-family: Inter;
    font-size: 42.818px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


.rol {
    color: white;
    position: relative;
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 23px;


}


/* AQUI SÃO OS BOTÕES LINKEDIN, GITHUB E WHATSAPP*/ 

.redes {
    display: flex;
    margin-left: 168px;
    gap: 23px;
}

.redes a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.redes a:hover {
    color: black;
}
.botaoredes {
    border: none;
    font-size: 16px;
    background-color: #1E1E1E;
    color:aliceblue;
    padding: 8px 16px;
    cursor: pointer;
    margin: 14px;
    border-radius: 6px;
    transition: all 0.3s ease;
    border-radius: 8.817px;
    border: 1px solid #D9D9D9;

}
.botaoredes:hover {
    background-color: #fff;

}

.dark .botaoredes:hover {
    background-color: #F39C12;
}

.dark .redes a:hover {
    color: #FFF;
}

.dark footer {
    color: black;
}
footer {
    margin: 10px 0px 10px 0px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}


/* ABAIXO CSS DO MENU SLIDE */ 

.card {
    border-radius: 25px 25px 0 25px;
    background-color: red;
    width: 320px; 
    /* VER A QUESTÃO DESSE WIDHT COM E SEM JS*/

}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border: 50%;



}
/* abaixo borda ao redo da foto de perfil"*/
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #151c31;
    padding: 5px;
    

}

.slide.content {
    margin: 0 40px;
    background-color: #080c18;
    

}

.image-content {
    row-gap: 5px;
    position: relative;
    border-radius: 25px 25px 0 25px;
    padding-top: 7px;
    
}

.image-content,
.card-content {
    position: relative;
    background-color: #F39C12; 
    display: flex;
    flex-direction: column;
    align-items: center;

   
    
    /* verificar sobreposição do (.card) se necessário ou a sobreposição desse*/
    /*  essa parte é onde fica os card de informações, ver border-radius separado */ 
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    margin-top: 20px;
    border-radius: 25px 25px 0 25px;
    width: 92%;
    height: 130px;
    justify-content: space-between;
    
/* esse acima é onde fica as informacoes, nome, descriçãoe  ver mais */ 
}
 /* abaixo é a div que fica por traz do "slides" que apresentam os projetos*/
.slide-conteiner {
    padding: 30px;
    max-width: 1120px;
    width: 80%;
    min-width: 110px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 23px;


}

.nome {
    font-size: 18px;
    font-weight: 500;
}

.descricao {
    text-align: center;
    font-size: 14px;
}

.botao {
    border: none;
    font-size: 16px;
    background-color: #4070f4;
    color: aliceblue;
    padding: 8px 16px;
    cursor: pointer;
    margin: 14px;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.botao:hover {
    background-color: #2b4ba3;
}

.overlay {
    background-color: rgba(62, 108, 108, 0.768);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 24px 25px 0 25px;

}
/* aqui acaba a sessão dos slides*/

/* esse botao é da opcao vVer mais dos PROJETOS*/
.botao a {
    text-decoration: none;
    color: white;
}

.menudocelular {
    display: none;
}

@media screen and (max-width: 609px){
    /* topo do site */
    body {
        padding: 10px 15px 10px 15px;
    }

    .bloco .conteiner {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
    }

    .elemento1  {
        font-size: 12px;
        padding-bottom: 20px;
        margin-bottom: 45px;

    }

    .elemento1 h2 {
        font-size: 20px;
    }

    .elemento1 p {
        font-size: 16px;
    }

    .elemento2  {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }


    .fotopreta, .fotobranca {
        width: 170x;
        height: 170px;
      
        
    }


    /*cabecalho*/

    .menu{
        display: non;

    }

    

    .redes {
        margin-top: 100px;
        margin-left: 0;
        width: 100%;
        font-size: 12px;
        padding: 10px 10px 5px 10px;
        border-radius: 10px;
        justify-content: center;
    }

    .rol {
        
        flex-direction: column;
        align-items: center;

    }

    .btn-abrir-menu  {
        display: flex;
        justify-content: end;
    }

    .menudocelular {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
       
        padding-top: 18px;


    }
    
    nav {
        display: none;
    }
    
}

/* não esquecer de mudar footer pra o modo claro*/